body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {  
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
.center {
    /* top: 40%;
    left: 30%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; */
    margin: auto;
    width: 40%;
    text-align:center;
}

.navigationMenu {
    margin-left:15px;
    width: auto;
    text-align: center;
    position: relative;
    display: inline-block;
}

.loginInside {
    position: relative;
    top: 30px;
    margin: 20px;
}
.header {
    background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

h1 {
    /* text-align: center; */
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: #bcf0d5;
    padding: 10px;
    margin: 70px;
    
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.buttonEntrar {
    background-color: #70b79d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    position: relative;
}
.red {
    color: red;
}
button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

input[type=text],
input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formlogin {
    margin: 10px;
    padding: 12px 20px;
    border: 15px solid #bcf0d5;
    height: 300px;
}